<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.narumi.chatgpt-bot</string>
    <key>ProgramArguments</key>
    <array>
      <string>/Users/narumi/services/chatgpt-bot/chatgpt-bot</string>
    </array>
    <key>KeepAlive</key>
    <true />
    <key>RunAtLoad</key>
    <true />
    <key>UserName</key>
    <string>narumi</string>
    <key>WorkingDirectory</key>
    <string>/Users/narumi/services/chatgpt-bot</string>
    <key>StandardOutPath</key>
    <string>/Users/narumi/services/chatgpt-bot/bot.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/narumi/services/chatgpt-bot/bot.log</string>
  </dict>
</plist>